.imageCarL {
  width: 384px;
  height: 206px;
  object-fit: cover;
}
.capa {
  margin-top: 136px;
  width: 384px;
  height: 70px;
  background: #ff4a4a;
  opacity: 0.6;
  position: absolute;
  z-index: 1;
}
.containerDataLost {
  position: absolute;
  z-index: 1;
  width: 384px;
  height: 150px;
  position: absolute;
  z-index: 2;
  left: 0px;
  top: 3em;
  position: absolute;
  z-index: 3;
  top: 135px;
}
.textT {
  margin-bottom: 5px;
}
.containerDosTL {
  display: flex;
  justify-content: space-around;
  padding-bottom: 100px;
}
.containerUnoTL {
  margin-bottom: 0;
  display: flex;
  justify-content: center;
  color: white;
  font-size: 22px;
}
.textD {
  color: white;
  font-size: 20px;
  margin-bottom: 0;
  padding-left: 10px;
}
.InfoI {
  width: 23px;
  margin-left: 70px;
  padding-bottom: 0px;
}
.contInf {
  display: flex;
  width: 42px;
}
.InfoD {
  width: 42px;
}
.IconU {
  margin-left: 55px;
}
@media only screen and (min-width: 1173px) {
  .textT {
    margin-bottom: 20px;
  }
  .IconC {
    width: 35px;
  }
  .IconU {
    margin-left: 55px;
    width: 27px;
  }
  .InfoI {
    width: 43px;
  }
  .contInf {
    width: auto;
  }
  .imageCarL {
    width: 1098px;
    height: 475px;
    object-fit: cover;
  }
  .capa {
    margin-top: 325px;
    width: 1098px;
    height: 150px;
    background: #ff4a4a;
    opacity: 0.6;
    position: absolute;
    z-index: 1;
  }
  .containerDataLost {
    position: absolute;
    z-index: 1;
    width: 1098px;
    height: 550px;
    z-index: 2;
    left: 0px;
    top: 318px;
    padding: 0;
    display: block;
  }

  .containerDosTL {
    display: flex;
    justify-content: space-around;
  }
  .containerUnoTL {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 42px;
  }
  .textD {
    color: white;
    font-size: 34px;
  }
}
@media only screen and (min-width: 728px) {
  .textT {
    margin-bottom: 20px;
  }
  .IconC {
    width: 35px;
  }
  .IconU {
    margin-left: 55px;
    width: 27px;
  }
  .InfoI {
    width: 43px;
  }
  .contInf {
    width: auto;
  }
  .imageCarL {
    width: 1098px;
    height: 475px;
    object-fit: cover;
  }
  .capa {
    margin-top: 325px;
    width: 1098px;
    height: 150px;
    background: #ff4a4a;
    opacity: 0.6;
    position: absolute;
    z-index: 1;
  }
  .containerDataLost {
    position: absolute;
    z-index: 1;
    width: 1098px;
    height: 550px;
    z-index: 2;
    left: 0px;
    top: 318px;
    padding: 0;
    display: block;
  }

  .containerDosTL {
    display: flex;
    justify-content: space-around;
  }
  .containerUnoTL {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 42px;
  }
  .textD {
    color: white;
    font-size: 34px;
  }
}
