@import '../../../styles/variables';
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  .itemSelect {
    width: 95%;
    margin-left: 3%;

    color: $color-p;
  }
  .itemSelect1 {
    width: 100%;

    color: $color-p;
  }
  .itemSelect2 {
    width: 100%;
  }
  .itemSelect3 {
    width: 100%;
  }

  .wrapperCal_gender {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
  }
}
@media only screen and (min-width: 1024px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-left: -10%;
    .itemSelect {
      width: 150%;
      margin-left: 0%;

      color: $color-p;
    }
    .itemSelect1 {
      width: 157%;

      color: $color-p;
    }
    .itemSelect2 {
      width: 200%;
    }
    .itemSelect3 {
      width: 185%;
    }
    .calendar {
      margin-left: -33%;
    }
    .wrapperCal_gender {
      display: flex;
      flex-direction: column;
      justify-content: space-center;
      margin-left: -5%;
    }
    .btn {
      display: flex;
      justify-content: center;
      margin-left: 15%;
    }
  }
}
