@import '../../../../styles/variables';

.wrapperCard {
  width: 100%;
  position: relative;
}
.wrapperImg {
  display: flex;
  width: 100%;
}
.image1 {
  width: 50%;
}
.image2 {
  width: 50%;
}
.cover {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.47);
  position: absolute;
  top: 0;
}

.coverText {
  //height: 100%;
  background-color: rgba(0, 0, 0, 0.473);
  border-radius: 10px;
  margin: 5% 25% 0 25%;
  position: absolute;
  top: 0;
  width: 60%;

  p {
    font-size: 2vw;
    font-weight: 600;
    color: $color-titles;
    margin: 0;
    padding: 5%;
    text-align: center;
  }
}
@media only screen and (min-width: 1024px) {
  .coverText {
    margin: 10% 25% 0 25%;
    p {
      font-size: 2vw;
    }
  }
}
