.continerC {
  margin-bottom: 200px;
  background-color: white;
}

.circle {
  width: 215px;
  border-radius: 50%;
  border: solid #bd4089 7px;
  display: block;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}
.avatatQ {
}

.TextName {
  font-size: 36px;
  font-family: 'Poppins';
  justify-content: center;
  display: flex;
  color: #414141;
}
.TextAleAdp {
  color: #bd4089;
  font-family: 'Poppins';
  justify-content: center;
  display: flex;
  font-size: 33px;
}
.TextAleAdpDos {
  font-size: 34px;
  font-family: 'Poppins';
  justify-content: center;
  display: flex;
  color: #414141;
  margin-bottom: 30px;
}
.containerdos {
  display: flex;
  align-items: center;
}
.textCartG {
  font-weight: bold;
  font-size: 24px;
  font-family: 'Poppins';
  color: #636363;
  padding-top: 20px;
  padding-left: 10px;
}
.containerDS {
  display: flex;
  justify-content: space-around;
}
.containerUT {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.containerUTtel {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.textCartL {
  margin-bottom: 0;
  font-weight: bold;
  font-size: 24px;
  font-family: 'Poppins';
  color: #636363;
  padding-left: 10px;
}
.containerSMW {
  display: flex;
  align-items: center;
}
.iconM {
  width: 30px;
  height: 30px;
  margin: 10px;
}
.iconW {
  width: 25px;
  height: 28px;
}
.contaTE {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
}
.contaS {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.contaTC {
  margin-top: 30px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.texP {
  margin-bottom: 0;
  font-weight: bold;
  font-size: 24px;
  font-family: 'Poppins';
  color: #303030;
  padding-left: 10px;
}
.textCartTel {
  margin-bottom: 0;
  font-weight: bold;
  font-size: 50px;
  font-family: 'Poppins';
  color: #3f3f3f;
  padding-left: 10px;
}
.ubicT {
  width: 48px;
}
