.adoption {
  margin: 5px;
}
.post {
  margin: 6px;
}
.containerAdopt{
  display: flex;

  margin-bottom: 60px;
}
.TitleAlert{
  margin: 30px;
  font-size: 28px;
  color:#a53c3c;
  font-family: "Poppins", sans-serif;
}
.TitleAdopt{
  display: flex;
  justify-content: center;
  font-size: 26px;
  margin: 30px;
  color:#833663;
  font-family: "Poppins", sans-serif;
}
@media only screen and (max-width: 375px) {
  .TitleAlert{
  font-size: 22px;
}
.TitleAdopt{
  font-size: 20px;
}
.containerAdopt{
  display: flex;
  
}
}

