.containerPrinA {
  width: 329px;
  height: 358px;
  border-radius: 5px;
  border: solid #bd4089 4px;
}
.containerU {
  display: flex;
  justify-content: center;
}
.IconUA {
  padding-right: 10px;
  padding-bottom: 0px;
}
.TextN {
  font-weight: bold;
  font-size: 26px;
  color: #792957;
  font-family: Poppins;
  justify-content: center;
  display: flex;
  margin: 10px;
}
.TextIN {
  font-size: 22px;
  color: #4b4a4a;
  font-family: Poppins;
  margin-bottom: 5px;
  padding-top: 10px;
}
.imageCardAdop {
  border-radius: 5px;
}
