.containerPrinA {
  width: 100%;
  height: 358px;
  border-radius: 5px;
  //border: solid #bd4089 4px;
  box-shadow: 6px 8px 7px #bd4089;
 
}
.imageCardAdop {
  border-radius: 5px;
  width: 100%;
  height: 22vh;
  object-fit: cover;
}
.containertt {
  width: 100%;
}
.containerU {
  display: flex;
  justify-content: center;
}
.IconUA {
  padding-right: 10px;
  padding-bottom: 0px;
}
.TextN {
  font-weight: bold;
  font-size: 1.8vw;
  color: #792957;
  font-family: Poppins;
  justify-content: center;
  display: flex;
  margin: 10px;
}
.TextIN {
  font-size: 1.5vw;
  color: #4b4a4a;
  font-family: Poppins;
  margin-bottom: 5px;
  padding-top: 10px;
}
@media only screen and (min-width: 440px) {
.cardAdopt{
  display: none;
}
}