@import '../../variables';
.indications {
  box-shadow: 4px 4px 4px rgba(136, 136, 136, 0.397);
  color: #5a5a5a;
  margin: 10% 0;
  padding: 5%;
  h1 {
    font-size: 5vw;
    color: #021e29;
  }
  h3 {
    text-align: center;
  }
  ol {
    margin: 10% 15%;
    li {
      color: $color-blue;
    }
  }
}

.wrapperScanner {
  display: flex;
  flex-direction: column;
  align-items: center;
  .img {
    padding-top: 5%;
    width: 50%;
  }
}

.footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
}

@media only screen and (min-width: 1024px) {
  .indications {
    h1 {
      font-size: 2.5vw;
    }
    h3 {
      font-size: 2.5vw;
    }
    ol {
      li {
        font-size: 1.8vw;
      }
    }
  }
  .wrapperScanner {
    margin: 10%;
  }
}
