.wrapperForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.selector {
  margin-left: 10%;
}
.btn_wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 0;
  width: 100%;
}
.upload {
  width: 20%;
}

@media only screen and (min-width: 1024px) {
  .wrapperForm {
    flex-direction: row;
  }
}
