@import '../../../styles/variables';

.wrapperForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 5%;
}
.format {
  margin: 0;
  padding: 0;
}
.btn_m {
  margin-bottom: 35px;
  margin-top: 30px;
}
.selector {
  width: 70%;
  margin: 0%;
}
.btn_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 100%;
}
.upload {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  //width: 20%;
  margin-bottom: 5%;
}

.item {
  width: 100%;
  border: 1.5px solid $border;
  border-radius: 5px;
  height: 40px;
  display: block;
  color: $color-p;
  margin: 0;
}

@media only screen and (min-width: 320px) {
}
@media only screen and (min-width: 375px) {
}
@media only screen and (min-width: 768px) {
  .btn_ms {
    margin-bottom: 218px;
  }
}
@media only screen and (max-width: 767px) {
  .upload {
    width: 100%;
  }
  .wrapperForm {
    width: 100%;
  }
}
@media only screen and (min-width: 994px) {
  
}
