.wrapperForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.selector {
  width: 300px;
}
.ratonC {
  position: absolute;
}
.btn_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
}
.upload {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
}

@media only screen and (min-width: 1024px) {
  .wrapperForm {
    flex-direction: row;
  }
}
