@import '../../../variables';
.d_none {
  display: none;
}
.form1{
  display: block;
  justify-content: center;
}
.d_block {
  display: block;
}
.wrapperForms {
  height: 80.9vh;
  .form1 {
    height: 83.3vh;
  }
  .form4{
    margin-top: -5%;
  }
  @media only screen and (max-width: 768px) {
   .form4{
     margin-top: 15%;
     margin-bottom: 35%;
   } 
  }
.imgPre{
  display: flex;
  justify-content: center;
}
.imgPreBtm{
  margin-left: 20%;
}
  .cat {
    width: 50%;
    margin-top: 15%;
    img {
      width: 100%;
    }
  }
  .form3 {
    margin-bottom: 5%;
    .cobayo {
      margin: 4% 0 10% 0;
    }
  }

  .img {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 3% 0%;
  }
  .imgEr {
    display: flex;
    justify-content: flex-end;
    .erizo {
      width: 20%;
      width: 30%;
    }
  }
  .form4 {
    .wrapperImg {
      margin-top: 7%;
      display: flex;
      justify-content: space-between;
      h2 {
        color: $color-p;
      }
    }
  }

  .footer {
    position: relative;
    bottom: 0;
  }
}

@media only screen and (max-width: 320px) {
 .cat{
width: 38%;
    }
    .catCi {
      margin-left: 7%;
      margin-top: 55%;
      margin-bottom: 2%;
      img {
        width: 10%;
      }
    }
}
.cat{
width: 38%;
    }
    .catCi {
      margin-left: 37%;
      margin-top: 55%;
      margin-bottom: 0%;
      img {
        width: 100%;
      }
    }
@media only screen and (min-width: 1024px) {
  .wrapperForms {
    height: 71vh;
    .form1 {
      height: 69vh;
    }
    .cat{
width: 38%;
    }
    .catCi {
      margin-left: 37%;
      margin-top: 25%;
      margin-bottom: 23%;
      img {
        width: 100%;
      }
    }
    .img {
      width: 50%;
      margin-left: auto;
      margin-right: auto;
      padding: 3% 0%;
    }
    .imgEr {
      display: flex;
      justify-content: flex-end;
      margin-top: -10%;
      .erizo {
        width: 20%;
      }
    }
    .form3 {
      margin-left: auto;
      margin-right: auto;
      width: 70%;
      .cobayo {
        margin-left: 25%;
        margin-bottom: 0%;
      }
    }
    .form4 {
      margin-left: auto;
      margin-right: auto;
      width: 70%;
      .wrapperImg {
        display: flex;
        margin-top: 0%;
        justify-content: space-between;
        h2 {
          margin-bottom: 5%;
          color: $color-p;
        }
      }
    }

    .footer {
      position: fixed;
      bottom: 0;
      width: 100%;
    }
  }
}
