.avatar {
  height:100%;
  width: 38%;
  font-size: 1vw;
  color: black;
}

@media only screen and (max-width: 768px) {
.avatar { 
  height: 100%;
  width: 40%;
}
}
@media only screen and (max-width: 375px) {
.avatar { 
  height: 100%;
  width: 75%;
}
}

