@import '../../styles/variables';

.header {
  background: linear-gradient(#5ec9d4, #dafcff);
  display: flex;
justify-content: space-between;
  align-items: center;
  height: 15vw;
  padding: 0px 5%;
}
// .logo {
//   left: 15px;
//   position: absolute;
//   top: 15px;
//   width: 10%;
// }
.title {
  color: $color-titles;
  font-size: 5.5vw;
  margin: 0;
}
.posStiky {
  position: sticky;
  top: 0;
  z-index: 1;
  
}
.wrapper {
  display: flex;
  justify-content: space-between;
  width: 15%;
  p {
    margin-left: 5%;
  }
}
.alert {
  background: linear-gradient(#ff4a4a, #ff9d9d);
}
.adoption {
  background: linear-gradient(#bd4089, #de82b8);
}
@media only screen and (min-width: 1024px) {
  
  .header {
    height: 6vw;
  }
  .logo {
    width: 5%;
  }
  .title {
    font-size: 2vw;
    //   left: 35%;
    //   margin: 0;
    //   position: absolute;
    //   top: 0px;
  }
  .wrapper {
    width: 15%;
    height: 70%;
    p {
      margin-left: 0%;
    }
  }
}
