.contBnt{
 display: flex;
 justify-content: space-evenly;
  margin: 5%;
 
}

@import '../variables';
.btn {
  cursor: pointer;
  border: none;
  border-radius: $br-btn-inputs;
  color: $color-btn-primary;
  font-size: $fs-btn;
  font-weight: 600;
  height: 40px;
  width: 220px;
  background-color: $bg-btn-alert;
  &:active {
    background-color: $bg-btn-secondary;
    color: $bg-btn-alert;
    border: 1px solid $bg-btn-alert;
  }
}
.btnQrD {
  color: #1cb7cc;
  font-size: 1.2vw;
  font-weight: 700;
  padding-bottom: 10px;
  text-decoration: underline;
  border: none;
  background: none;
}
  @media only screen and (max-width: 768px) {
    .contBnt{
  display: flex;
 justify-content: space-evenly;
  margin: 5%;

}}

  @media only screen and (max-width: 375px) {
  .contBnt{
  display: block;
  }
  .BntSin{
    margin-bottom: 30px;
    margin-left: 60px;
  }
}



