.d_none{
    display: none;
}
.upload_button{
    justify-content: center;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: solid 1px gray;
    background-image: url('/CamF1.png');
    background-repeat: no-repeat;
    background-position: center;
}
.contAgI{
    display: flex;
    justify-content: center;
    margin: 30px;
    
}

