.continerC {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 200px;
  border-radius: 5px;
  box-shadow: 6px 8px 7px #fe6262;
  width: 99%;
  margin-bottom: 30px;
  font-size: 4.4vw;
  background-color: #fe626231;
  .circle {
    border-radius: 50%;
    border: solid #ff4a4a 7px;
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .wrapperInfo {
    width: 80%;
  }

  .TextName {
    font-size: 10vw;
    font-family: 'Poppins';
    justify-content: center;
    display: flex;
    color: #414141;
  }
  .TextAleAdp {
    font-size: 10vw;
    color: #ff4a4a;
    font-family: 'Poppins';
    justify-content: center;
    display: flex;
  }
  .TextAleAdpDos {
    font-family: 'Poppins';
    justify-content: center;
    display: flex;
    color: #414141;
    margin-bottom: 30px;
  }
  .containerdos {
    display: flex;
    align-items: center;
  }
  .textCartG {
    font-weight: bold;

    font-family: 'Poppins';
    color: #636363;
    padding-top: 20px;
    padding-left: 10px;
  }
  .containerDS {
    display: flex;
    justify-content: space-around;
  }
  .containerUT {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .containerUTtel {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  .textCartL {
    margin-bottom: 0;
    font-weight: bold;

    font-family: 'Poppins';
    color: #636363;
    padding-left: 10px;
  }
  .containerSMW {
    display: flex;
    align-items: center;
  }
  .iconM {
    width: 30px;
    height: 30px;
    margin: 10px;
  }
  .iconW {
    width: 25px;
    height: 28px;
  }
  .contaTE {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
  }
  .contaS {
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }
  .contaTC {
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
  }
  .texP {
    margin-bottom: 0;
    font-weight: bold;
    font-family: 'Poppins';
    color: #303030;
    padding-left: 10px;
  }
  .textCartTel {
    margin-bottom: 10px;
    font-weight: bold;
    font-family: 'Poppins';
    color: #3f3f3f;
    padding-left: 10px;
  }
  .ubicT {
    width: 48px;
  }
}
@media only screen and (min-width: 1024px) {
  .continerC {
    margin-top: 5%;
    padding-bottom: 3%;

    font-size: 2vw;

    .TextName {
      font-size: 6vw;
    }
    .textCartTel {
      margin-bottom: 30px;
      font-size: 3vw;
      padding-left: 10px;
    }
    .TextAleAdpDos {
      font-size: 2vw;
    }
    .TextAleAdp {
      font-size: 3vw;
    }
  }
}
