@import "../../variables";
.dog_QR {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.codeQRContiner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  padding: 10%;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25);
}

.wrapperBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
  margin-bottom: 50px;
  a {
    color: $color-blue;
    font-size: 3.5vw;
    font-weight: 700;
    padding-bottom: 10px;
    text-decoration: underline;
  }
  .btn {
    padding: 4% 0;
  }
}

@media only screen and (min-width: 1024px) {
  .dog_QR {
    margin-left: 100px;
  }
  .codeQRContiner {
    margin-bottom: 100px;
  }

  .wrapperBtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 150px;
    margin-top: 125px;

    a {
      color: $color-blue;
      font-size: 1.5vw;
      font-weight: 700;
      padding-bottom: 10px;
      text-decoration: underline;
    }
    .btn {
      padding: 4% 0;
    }
  }
}
@media only screen and (min-width: 768px) {
  .codeQRContiner {
    width: 50%;
  }
}
