@import '../../variables';
.dog_QR {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.codeQR {
  width: 50%;
  height: 40vw;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25);
  h1 {
    font-size: 3rem;
    text-align: center;
  }
}

.wrapperBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
  a {
    color: $color-blue;
    font-size: 3.5vw;
    font-weight: 700;
    padding-bottom: 10px;
    text-decoration: underline;
  }
  .btn {
    padding: 4% 0;
  }
}

@media only screen and (min-width: 1024px) {
  .dog_QR {
    margin-right: 5%;
  }
  .codeQR {
    width: 100%;
    height: 20vw;
  }

  .wrapperBtn {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-left: 15%;

    a {
      color: $color-blue;
      font-size: 1.5vw;
      font-weight: 700;
      padding-bottom: 10px;
      text-decoration: underline;
    }
    .btn {
      padding: 4% 0;
    }
  }
}
