@import "../../variables";

.dog_QR {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.textcqrt {
  color: #3587a0;
  font-size: 4.5vw;
  font-weight: 700;
  width: 70%;
  margin-bottom: 30px;
  margin: 15px;
}
.textcqr {
  color: $color-blue;
  font-size: 4.5vw;
  font-weight: 700;
  margin: 15px;
  width: 90%;
  margin-bottom: 30px;
}
.codeQRContiner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  padding: 10%;
  box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.25);
}

.wrapperBtn {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
  margin-bottom: 50px;
  a {
    color: $color-blue;
    font-size: 5.5vw;
    font-weight: 700;
    padding-bottom: 10px;
    text-decoration: underline;
  }
  .btn {
    padding: 4% 0;
  }
}

@media only screen and (min-width: 769px) {
  .codeQRContiner {
    width: 80%;
    padding: 0;
    height: 400px;
  }
  .qrc {
    width: 300px;
  }
  .textcqrt {
    color: #3587a0;
    font-size: 1.8vw;
    font-weight: 700;
    width: 90%;
    margin: 15px;
  }
  .textcqr {
    color: $color-blue;
    font-size: 1.5vw;
    font-weight: 700;
    width: 90%;
    margin-bottom: 30px;
    padding: 15px;
  }
  .wrapperBtn {
    display: flex;
    flex-direction: column;
    align-items: center;
    a {
      color: $color-blue;
      font-size: 1.5vw;
      font-weight: 700;
      padding-bottom: 10px;
      text-decoration: underline;
    }
    .btn {
      padding: 4% 0;
    }
  }
  .dog_QR {
  }
}
@media only screen and (min-width: 1000px) {
  .codeQRContiner {
    margin-bottom: 100px;
  }
  .wrapperBtn {
    margin-top: 50px;
  }
  .textcqr {
    color: $color-blue;
    font-size: 1.5vw;
    font-weight: 700;
    width: 90%;
    margin-bottom: 30px;
    padding: 15px;
  }
  .textcqrt {
    color: #3587a0;
    font-size: 1.8vw;
    font-weight: 700;
    width: 90%;
    margin: 30px;
  }
}
