.wrapper{
    display: flex;
    flex-direction: row-reverse;
}

.btn_wrapper{
display: flex;
justify-content: center;

}
.img_container{
    width: 30%;
}

.text{
    display: none
}
@media only screen and (min-width: 1024px) {
    .text{
        display: inline;
    }
  }