@import '../../variables';
.btn {
  cursor: pointer;
  border: none;
  border-radius: $br-btn-inputs;
  color: $color-btn-primary;

  font-size: $fs-btn;
  font-weight: 600;
  height: 40px;
  width: 220px;
  background-color: $bg-btn-adoption;
  &:active {
    background-color: $bg-btn-secondary;
    color: $bg-btn-adoption;
    border: 1px solid $bg-btn-adoption;
  }
}
.btnQrD {
  color: #1cb7cc;
  font-size: 1.2vw;
  font-weight: 700;
  padding-bottom: 10px;
  text-decoration: underline;
  border: none;
  background: none;
  @media only screen and (max-width: 768px) {
    font-size: 3vw;
  }

  @media only screen and (min-width: 375px) {
    font-size: 5vw;
  }
  .BntSin {
    display: flex;
    justify-content: center;
    margin-left: 25%;
  }
}

.contBnt {
  display: flex;
  justify-content: center;
  margin-top: 5%;
}
.BntSin {
  display: flex;
  justify-content: center;
  margin-left: 55%;
}
