.containerimg{
display: flex;
justify-content: center;
}
.containerBtn{
    display: flex;
justify-content: center;
margin-bottom: 60px;
}
.img{
    justify-content: center;
}
.forEt{
    display: flex;
justify-content: center;
margin-top: 60px;
width: 100%;
}

.imagen{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: solid 1px gray
}

@media only screen and (max-width: 375px) {
    .img{
    justify-content: center;
    width: 100%;
    margin-top: 30px;
}
}
@media only screen and (max-width: 768px) {
.img{
    justify-content: center;
    width: 100%;
    margin-top: 30px;
}
}