.continerC {
  margin: 0 !important;
}

.circle {
  width: 215px;
  height: 215px;
  border-radius: 50%;
  border: solid #bd4089 7px;
  justify-content: center;
  display: flex;
}
.TextName {
  font-size: 30px;
  font-family: "Poppins";
  justify-content: center;
  display: flex;
  color: #414141;
}
.TextAleAdp {
  color: #bd4089;
  font-family: "Poppins";
  justify-content: center;
  display: flex;
  font-size: 28px;
}
.TextAleAdpDos {
  font-size: 22px;
  font-family: "Poppins";
  justify-content: center;
  display: flex;
  color: #414141;
  margin-bottom: 30px;
}
.containerdos {
  display: flex;
  padding-left: 15px;
  padding-right: 15px;
}
.textCartG {
  font-weight: bold;
  font-size: 18px;
  font-family: "Poppins";
  color: #636363;
  padding-top: 20px;
  padding-left: 10px;
}
