.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10%;
  .cat {
    width: 50%;
  }
  h1 {
    color: rgb(19, 90, 116);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
}
