@import './variables';
.container_logo {
  display: flex;
  justify-content: center;
}
.wrapperImg {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin-left: 20%;
  img {
    width: 90%;
  }
  p {
    font-weight: 700;
    font-size: 2vw;
    padding: 2%;
    text-align: center;
  }
}
.wrapperForm {
  .containerBbtnA {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -5px;
    margin-bottom: 10%;
    .btn {
      margin: 0% 0% 5% 0%;
    }
    .forgetPass {
      a {
        color: $color-blue;
        font-size: 3.5vw;
        font-weight: 700;
        margin: 10px;
        text-decoration: underline;
      }
    }
  }
}
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
@media only screen and (min-width: 1024px) {
  .logo {
    display: none;
  }
  .wrapperForm {
    margin-top: 5%;
    .containerBbtnA {
      .forgetPass {
        a {
          font-size: 1.2vw;
        }
      }
    }
  }
}
@media only screen and (min-width: 375px) {
.logo{
width: 60%;
margin-bottom: 30px;
}
.containerBbtnA{
  margin-top: 600px;
}
.forgetPass {
        a {
          font-size: 1.2vw;
          margin-bottom: 60px;
        }
}}
.forgetPass{
  margin-bottom: 60px;
}
@media only screen and (max-width: 768px) {
.cotainerLogin{
margin-top: 30%;
}
}