@import './variables';
.container_logo {
  display: flex;
  justify-content: center;
}
.wrapperImg {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin-left: 10%;
  img {
    width: 100%;
  }
  p {
    font-weight: 700;
    font-size: 1.7vw;
    padding: 2%;
    text-align: center;
  }
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
@media only screen and (min-width: 1024px) {
  .logo {
    display: none;
  }
  .wrapperForm {
    margin-top: 5%;
    margin-right: 5%;
  }
}
