$bg-btn-adoption: #bd4089;
$bg-btn-alert: #ff4a4a;
$bg-btn-primary: #1cb7cc;
$bg-btn-secondary: #fff;
$bg-modal: rgb(0, 0, 0, 85%);
$br-btn-inputs: 5px;
$color-btn-primary: #f5ebeb;
$color-btn-secondary: #1cb7cc;
$color-p: #797373;
$color-alert: #f43f3f;
$fs-btn: 16px;
$font-size-input: 1rem;
$footer-adoption: #bd4089;
$footer-alert: #ff7569;
$footer-home: #3587a0;
$shadow-cards: 2, 4, 4, rgb(0, 0, 0, 25%);

$input-font-color: #797373;