.container_logo {
  display: flex;
  justify-content: center;
}
.imgDog {
  display: flex;
  justify-content: center;
}
.letter {
  margin-top: 5%;
  font-size: 4.5vw;
  text-align: center;
}
@media only screen and (min-width: 1024px) {
  .logo {
    margin: -3% 0% 0% 0%;
    width: 20%;
  }
  .imgDog {
    justify-content: flex-end;
  }
  .letter {
    margin-top: 5%;
    font-size: 2vw;
    text-align: center;
  }
}
