.container_logo {
  display: flex;
  justify-content: center;
}
.imgDog {
  display: flex;
  justify-content: center;
}
.logo{
  width: 60%;
}
.letter {
  margin-top: 15%;
  font-size: 4.5vw;
  text-align: center;
  margin-bottom: 15%;
}
.imgDogTam{
    width: 45%;
  }
@media only screen and (min-width: 1024px) {
  .logo {
    margin: -3% 0% 0% 0%;
    width: 20%;
  }
  .imgDog {
    justify-content: flex-end;
  }
  .letter {
    margin-top: 5%;
    font-size: 2vw;
    text-align: center;
  }
  .imgDogTam{
    width: 25%;
    margin-right: 10%;
  }
}
